html, body {

  font-family: $typo-1;
  color: $c-font;
  font-weight: normal;
  position: relative;
  height:100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include breakpoint(xs) {
    font-size: $factor*$font-size;
    line-height: ($factor-lh*$font-size)*$factor;
  }
  @include breakpoint(sm) {
    font-size: $factor*$font-size;
    line-height: ($factor-lh*$font-size)*$factor;
  }
  @include breakpoint(md) {
    font-size: $factor*$font-size;
    line-height: ($factor-lh*$font-size)*$factor;
  }
  @include breakpoint(lg) {
    font-size: $factor*$font-size;
    line-height: ($factor-lh*$font-size)*$factor;
  }
  @include breakpoint(xl) {
    font-size: $factor*$font-size;
    line-height: ($factor-lh*$font-size)*$factor;
  }
  
}

/* ************* MARGINS & POSITIONS PX *************** */

.margin-0-auto {
  margin: 0 auto;
 }
 
 .margin-l-auto {
  margin-left: auto;
 }
 
 .margin-r-auto {
  margin-right:auto;
 }
 
 .margin-t-auto {
  margin-top: auto;
 }
 
 .margin-b-auto {
  margin-bottom: auto;
 }

@for $i from 0 through 10 {
  .margin-#{$i} {margin: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .margin-#{$j+10} {margin: $j+10px;}
}

@for $i from 1 through 16 {
  $j:$i*5;
  .margin-#{$j+20} {margin: $j+20px;}
}

@for $i from 0 through 10 {
  .margin-y-#{$i} {margin-top: $i*1px;margin-bottom: $i*1px;}
  .margin-x-#{$i} {margin-left:$i*1px;margin-right: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .margin-y-#{$j+10} {margin-top: $j+10px;margin-bottom: $j+10px;}
  .margin-x-#{$j+10} {margin-left: $j+10px;margin-right: $j+10px;}
}

@for $i from 1 through 16 {
  $j:$i*5;
  .margin-y-#{$j+10} {margin-top: $j+10px;margin-bottom: $j+20px;}
  .margin-x-#{$j+10} {margin-left: $j+10px;margin-right: $j+20px;}
}

@for $i from 0 through 10 {
  .margin-t-#{$i} {margin-top: $i*1px;}
  .margin-r-#{$i} {margin-right:  $i*1px;}
  .margin-b-#{$i} {margin-bottom: $i*1px;}
  .margin-l-#{$i} {margin-left: $i*1px;}
  .top-#{$i} {top: $i*1px;}
  .bottom-#{$i} {bottom: $i*1px;}
  .right-#{$i} {right: $i*1px;}
  .left-#{$i} {left: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .margin-t-#{$j+10} {margin-top: $j+10px;}
  .margin-r-#{$j+10} {margin-right:  $j+10px;}
  .margin-b-#{$j+10} {margin-bottom: $j+10px;}
  .margin-l-#{$j+10} {margin-left: $j+10px;}
  .top-#{$j+10} {top: $j+10px;}
  .bottom-#{$j+10} {bottom: $j+10px;}
  .right-#{$j+10} {right: $j+10px;}
  .left-#{$j+10} {left: $j+10px;}
}

@for $i from 1 through 16 {
  $j:$i*5;
  .margin-t-#{$j+20} {margin-top: $j+20px;}
  .margin-r-#{$j+20} {margin-right:  $j+20px;}
  .margin-b-#{$j+20} {margin-bottom: $j+20px;}
  .margin-l-#{$j+20} {margin-left: $j+20px;}
  .top-#{$j+20} {top: $j+20px;}
  .bottom-#{$j+20} {bottom: $j+20px;}
  .right-#{$j+20} {right: $j+20px;}
  .left-#{$j+20} {left: $j+20px;}
}


/*Valores negativos*/
@for $i from 0 through 20 {
  .top--#{$i} {top: -($i*1px);}
  .bottom--#{$i} {bottom: -($i*1px);}
  .right--#{$i} {right: -($i*1px);}
  .left--#{$i} {left: -($i*1px);}
}

@for $i from 1 through 16 {
  $j:$i*5;
  .top--#{$j+20} {top: -($j+20px);}
  .bottom--#{$j+20} {bottom: -($j+20px);}
  .right--#{$j+20} {right: -($j+20px);}
  .left--#{$j+20} {left: -($j+20px);}
}

/* ************* END MARGINS PX *************** */

/* ************* MARGINS % *************** */

@for $i from 0 through 20 {
  $j:$i*5;
  .margin-0#{$j} {margin: $j*1%;}
}

@for $i from 0 through 20 {
  $j:$i*5;
  .margin-t-0#{$j} {margin-top: $j*1%;}
  .margin-r-0#{$j} {margin-right:  $j*1%;}
  .margin-b-0#{$j} {margin-bottom: $j*1%;}
  .margin-l-0#{$j} {margin-left: $j*1%;}
}
/* ************* END MARGINS % *************** */

/* ************* PADDINGS PX *************** */

@for $i from 0 through 10 {
  .padding-#{$i} {padding: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .padding-#{$j+10} {padding: $j+10px;}
}

@for $i from 1 through 6 {
  $j:$i*5;
  .padding-#{$j+20} {padding: $j+20px;}
}

@for $i from 0 through 10 {
  .padding-y-#{$i} {padding-top: $i*1px;padding-bottom: $i*1px;}
  .padding-x-#{$i} {padding-left: $i*1px;padding-right: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .padding-y-#{$j+10} {padding-top: $j+10px;padding-bottom: $j+10px;}
  .padding-x-#{$j+10} {padding-left: $j+10px;padding-right: $j+10px;}
} 

@for $i from 1 through 6 {
  $j:$i*5;
  .padding-y-#{$j+20} {padding-top: $j+20px;padding-bottom: $j+20px;}
  .padding-x-#{$j+20} {padding-left: $j+20px;padding-right: $j+20px;}
}

@for $i from 0 through 10 {
  .padding-t-#{$i} {padding-top: $i*1px;}
  .padding-r-#{$i} {padding-right: $i*1px;}
  .padding-b-#{$i} {padding-bottom: $i*1px;}
  .padding-l-#{$i} {padding-left: $i*1px;}
}

@for $i from 1 through 5 {
  $j:$i*2;
  .padding-t-#{$j+10} {padding-top: $j+10px;}
  .padding-r-#{$j+10} {padding-right: $j+10px;}
  .padding-b-#{$j+10} {padding-bottom: $j+10px;}
  .padding-l-#{$j+10} {padding-left: $j+10px;}
}

@for $i from 1 through 6 {
  $j:$i*5;
  .padding-t-#{$j+20} {padding-top: $j+20px;}
  .padding-r-#{$j+20} {padding-right: $j+20px;}
  .padding-b-#{$j+20} {padding-bottom: $j+20px;}
  .padding-l-#{$j+20} {padding-left: $j+20px;}
}

/* ************* END PADDINGS PX *************** */

/* ************* PADDINGS & POSITIONS % *************** */
@for $i from 0 through 20 {
  $j:$i*5;
  .padding-0#{$j} {padding: $j*1%;}
  .padding-t-0#{$j} {padding-top: $j*1%;}
  .padding-r-0#{$j} {padding-right: $j*1%;}
  .padding-b-0#{$j} {padding-bottom: $j*1%;}
  .padding-l-0#{$j} {padding-left: $j*1%;}
}

@for $i from 0 through 20 {
  $j:$i*5;
  .top-0#{$j} {top: $j*1%;}
  .bottom-0#{$j} {bottom: $j*1%;}
  .right-0#{$j} {right: $j*1%;}
  .left-0#{$j} {left: $j*1%;}
}
/* ************* END PADDINGS % *************** */

/* ************* PROPERTIES BOX *************** */

//width & height px 1 2 3 .. 10
@for $i from 1 through 10 {
  .width-#{$i} {width: $i*1px;}
  .height-#{$i} {height: $i*1px;}
}

//width & height px 5 10 15 ... 100
@for $i from 1 through 20 {
  $j:$i*5;
  .width-#{$j} {width: $j*1px;}
  .height-#{$j} {height: $j*1px;}
}

//width & height % 5 10 15 ... 100
@for $i from 1 through 20 {
  $j:$i*5;
  .width-0#{$j} {width: $j*1%;}
  .height-0#{$j} {height: $j*1%;}
}

.height-100vh {
  height: 100vh;
}

//displays
.display-b {
	display: block;
}
.display-ib {
	display: inline-block;
}
.display-f {
	display: flex;
}
.display-if {
	display: inline-flex;
}
.display-n {
	display: none;
}
.display-i {
	display: inline;
}
.display-t {
	display: table;
}
.display-tc {
  display: table-cell;
}
.display-tr {
  display: table-row;
}

.display-it {
  display: inline-table;
}

.table-layout-f {
  table-layout : fixed;
}

.justify-content-c {
  justify-content: center;
}

.align-items-c {
  align-items: center;
}


//Visibility
.visibility-v {
  visibility: visible;
}
.visibility-h {
  visibility: hidden;
}


//flex
.flex-direction-r{
	flex-direction: row;
}
.flex-direction-rr{
	flex-direction:row-reverse;
}
.flex-direction-c{
	flex-direction:column;
}
.flex-direction-cr{
	flex-direction:column-reverse;
}
.flex-wrap-n{
	flex-wrap: nowrap;
}
.flex-wrap-w{
	flex-wrap: wrap;
}
.flex-wrap-wr{
	flex-wrap: wrap-reverse;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}
.flex-flow-c{
	flex-flow: column;
}
.flex-flow-cr{
	flex-flow: column-reverse;
}
.flex-flow-n{
	flex-flow: nowrap;
}
.flex-flow-r{
	flex-flow: row;
}
.flex-flow-rr{
	flex-flow: row-reverse;
}
.flex-flow-w{
	flex-flow: wrap;
}
.flex-flow-wr{
	flex-flow: wrap-reverse;
}
.justify-content-c{
	justify-content: center;
}
.justify-content-fe{
	justify-content: flex-end;
}
.justify-content-fs{
	justify-content: flex-start;
}
.justify-content-sa{
	justify-content: space-around;
}
.justify-content-sb{
	justify-content: space-between;
}


//position
.position-r {
	position: relative;
}
.position-a {
	position: absolute;
}
.position-f {
	position: fixed;
}
.position-s {
	position: static;
}

//float
.float-l {
	float:left
}
.float-r {
	float:right;
}
.float-n {
  float:none;
}
.float-i {
  float:initial;
}

//clears
.clear-b{
	clear:both;
}
.clear-l{
	clear:left;
}
.clear-r{
	clear:right;
}
.clear-n{
	clear:none;
}

//overflow
.overflow-h {
	overflow: hidden;
}
.overflow-s {
	overflow: scroll;
}
.overflow-a {
	overflow: auto;
}
.overflow-v {
	overflow: visible;
}

.ios-smooth-scroll-touch {
  -webkit-overflow-scrolling: touch;
}
.ios-smooth-scroll-auto {
  -webkit-overflow-scrolling: auto;
}

//vertical-align
.vertical-align-bl {
	vertical-align:baseline;
}
.vertical-align-s {
	vertical-align:sub;
}
.vertical-align-sp {
	vertical-align:super;
}
.vertical-align-t {
	vertical-align:top;
}
.vertical-align-m {
	vertical-align:middle;
}
.vertical-align-b {
	vertical-align:bottom;
}
.vertical-align-tt {
	vertical-align:text-top;
}
.vertical-align-tb {
	vertical-align:text-bottom;
}

.box-sizing-cb {
  -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

.box-sizing-bb {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@for $i from 1 through 15 {
  .vertical-align-#{$i} {vertical-align: $i*1px;}
}

/* ************* END PROPERTIES BOX *************** */

/* BORDER's preguntar a sergio */
@for $i from 1 through 10 {
  .border-#{$i} {border-width:$i*1px;}
  .border-t-#{$i} {border-top-width:$i*1px;}
  .border-r-#{$i} {border-right-width:$i*1px;}
  .border-b-#{$i} {border-bottom-width: $i*1px;}
  .border-l-#{$i} {border-left-width:$i*1px;}
}

//Border color black, white, primary rgba
$c : 0;
@while $c <= 1 {
  .border-color-b-0#{round($c*100)} {
    border-color: rgba(0,0,0,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 1 {
  .border-color-w-0#{round($c*100)} {
    border-color: rgba(255,255,255,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 1 {
  .border-color-p-0#{round($c*100)} {
    border-color: rgba($c-primary, $c);
  }
  $c : $c + 0.1;
}

.border-c-primary {
  border-color: $c-primary;
}

.border-none {
  border: none;
}

.border-solid {
  border-style: solid;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed; 
}


//Border radius on px > 1 2 3 4 ...25
@for $i from 0 through 25 {
  .border-radius-#{$i} {border-radius:$i*1px;}
  .border-radius-tl-#{$i} {border-top-left-radius:$i*1px;}
  .border-radius-tr-#{$i} {border-top-right-radius:$i*1px;}
  .border-radius-bl-#{$i} {border-bottom-left-radius:$i*1px;}
  .border-radius-br-#{$i} {border-bottom-right-radius:$i*1px;}
}

//Border radius on % > 25% 50% 75% 100%
@for $j from 1 through 4 {
  $i:$j*25;
  .border-radius-0#{$i} {border-radius:$i*1%;}
  .border-radius-tl-0#{$i} {border-top-left-radius:$i*1%;}
  .border-radius-tr-0#{$i} {border-top-right-radius:$i*1%;}
  .border-radius-bl-0#{$i} {border-bottom-left-radius:$i*1%;}
  .border-radius-br-0#{$i} {border-bottom-right-radius:$i*1%;}
}



/* ************* FONTS *************** */
.typo-1{
    font-family:$typo-1;
}
.typo-2{
    font-family:$typo-2;
}

/* incluir lineheights en sizes */
/* calculadora de rems: https://offroadcode.com/rem-calculator/ */
.font-size-xxl {
  @include breakpoint(xs) {
    font-size: $factor*50px;
    line-height: $factor-lh*33px;
	}
  @include breakpoint(sm) {
    font-size: $factor*60px;
    line-height: $factor-lh*45px;
	}
  @include breakpoint(md) {
    font-size: $factor*70px;
    line-height: $factor-lh*50px;
	}
  @include breakpoint(lg) {
    font-size: $factor*80px;
    line-height: $factor-lh*55px;
	}
  @include breakpoint(xl) {
    font-size: $factor*80px;
    line-height: $factor-lh*55px;
  }
}
.font-size-xl {
  @include breakpoint(xs) {
    font-size: $factor*40px;
    line-height: $factor-lh*40px;
	}
  @include breakpoint(sm) {
    font-size: $factor*40px;
    line-height: $factor-lh*40px;
	}
  @include breakpoint(md) {
    font-size: $factor*40px;
    line-height: $factor-lh*40px;
	}
  @include breakpoint(lg) {
    font-size: $factor*40px;
    line-height: $factor-lh*40px;
	}
  @include breakpoint(xl) {
    font-size: $factor*40px;
    line-height: $factor-lh*40px;
  }
}
.font-size-l {
  @include breakpoint(xs) {
    font-size: $factor*30px;
    line-height: $factor-lh*30px;
	}
  @include breakpoint(sm) {
    font-size: $factor*30px;
    line-height: $factor-lh*30px;
	}
  @include breakpoint(md) {
    font-size: $factor*30px;
    line-height: $factor-lh*30px;
	}
  @include breakpoint(lg) {
    font-size: $factor*30px;
    line-height: $factor-lh*30px;
	}
  @include breakpoint(xl) {
    font-size: $factor*30px;
    line-height: $factor-lh*30px;
  }
}
.font-size-m {
  @include breakpoint(xs) {
    font-size: $factor*22px;
    line-height: $factor-lh*22px;
	}
  @include breakpoint(sm) {
    font-size: $factor*22px;
    line-height: $factor-lh*22px;
	}
  @include breakpoint(md) {
    font-size: $factor*22px;
    line-height: $factor-lh*22px;
	}
  @include breakpoint(lg) {
    font-size: $factor*22px;
    line-height: $factor-lh*22px;
	}
  @include breakpoint(xl) {
    font-size: $factor*22px;
    line-height: $factor-lh*22px;
  }
}
.font-size-s{
  @include breakpoint(xs) {
    font-size: $factor*14px;
    line-height: $factor-lh*14px;
	}
  @include breakpoint(sm) {
    font-size: $factor*14px;
    line-height: $factor-lh*14px;
	}
  @include breakpoint(md) {
    font-size: $factor*14px;
    line-height: $factor-lh*14px;
	}
  @include breakpoint(lg) {
    font-size: $factor*14px;
    line-height: $factor-lh*14px;
	}
  @include breakpoint(xl) {
    font-size: $factor*14px;
    line-height: $factor-lh*14px;
  }
}
.font-size-xs {
  @include breakpoint(xs) {
    	font-size: $factor*12px;
	    line-height: $factor-lh*12px;
  }
  @include breakpoint(sm) {
    	font-size: $factor*12px;
	    line-height: $factor-lh*12px;
  }
  @include breakpoint(md) {
    	font-size: $factor*12px;
	    line-height: $factor-lh*12px;
  }
  @include breakpoint(lg) {
    	font-size: $factor*12px;
	    line-height: $factor-lh*12px;
  }
  @include breakpoint(xl) {
    	font-size: $factor*12px;
	    line-height: $factor-lh*12px;
  }
}
.font-size-xxs{
  @include breakpoint(xs) {
		font-size: $factor*10px;
    line-height: $factor-lh*10px;
	}
  @include breakpoint(sm) {
		font-size: $factor*10px;
    line-height: $factor-lh*10px;
	}
  @include breakpoint(md) {
		font-size: $factor*10px;
    line-height: $factor-lh*10px;
	}
  @include breakpoint(lg) {
		font-size: $factor*10px;
    line-height: $factor-lh*10px;
	}
  @include breakpoint(xl) {
    	font-size: $factor*10px;
	    line-height: $factor-lh*10px;
  }
}

//Line-heigt 15 40 ...
@for $i from 10 through 80 {
  .line-h-#{$i} {line-height: $i*1px;}
}

.line-h-0 {
  line-height: 0;
}

//Font utilities
.font-style-n{
    font-style:normal;
}
.font-style-i{
    font-style:italic;  
}
.font-weight-l{
	font-weight:lighter;
}
.font-weight-n{
	font-weight:normal;
}
.font-weight-b{
	font-weight:bold;
}
.text-align-l{
    text-align:left;
}
.text-align-c{
    text-align:center;
}
.text-align-r{
    text-align:right;
}
.text-align-j {
    text-align:justify;
}
.text-trans-l{
    text-transform:lowercase;  
}
.text-trans-u{
    text-transform:uppercase;    
}
.text-trans-c{
    text-transform:capitalize;   
}

/* properties opentype pag:98 net magazine may 2014 */
/* ************* END FONTS *************** */


/* ************* COLORS *************** */


//Background color black, white, primary rgba
$c : 0;
@while $c <= 1 {
  .bg-color-b-0#{round($c*100)} {
    background-color: rgba(0,0,0,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 0.1 {
  .bg-color-b-00#{round($c*100)} {
    background-color: rgba(0,0,0,$c);
  }
  $c : $c + 0.01;
}

$c : 0;
@while $c <= 1 {
  .bg-color-w-0#{round($c*100)} {
    background-color: rgba(255,255,255,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 1 {
  .bg-color-p-0#{round($c*100)} {
    background-color: rgba($c-primary, $c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 0.1 {
  .bg-color-p-00#{round($c*100)} {
    background-color: rgba($c-primary, $c);
  }
  $c : $c + 0.01;
}

//GRAY SCALE BG COLOR SOLID black
@for $i from 0 through 10 {
  $j:$i*5;
  .bg-color-b-#{$j} {background-color: lighten(#000,$j);}
}

.bg-transparent {
    background-color: transparent;
}

//font color black, white, primary rgba
$c : 0;
@while $c <= 1 {
  .color-b-0#{round($c*100)} {
    color: rgba(0,0,0,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 0.1 {
  .color-b-00#{round($c*100)} {
    color: rgba(0,0,0,$c);
  }
  $c : $c + 0.01;
}

$c : 0;
@while $c <= 1 {
  .color-w-0#{round($c*100)} {
    color: rgba(255,255,255,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 1 {
  .color-p-0#{round($c*100)} {
    color: rgba($c-primary,$c);
  }
  $c : $c + 0.1;
}

$c : 0;
@while $c <= 0.1 {
  .color-p-00#{round($c*100)} {
    color: rgba($c-primary,$c);
  }
  $c : $c + 0.01;
}


/* ************* END COLORS *************** */


/* ************* EXTRAS *************** */

//zindex 5 10 15 100
@for $i from 0 through 20 {
  $j:$i*5;
  .zindex-#{$j} {z-index: $j*1;}
}

//opacity % 5 10 15 ... 100
$c : 0;
@while $c <= 1 {
  .opacity-0#{round($c*100)} {opacity: $c;}
  $c : $c + 0.1;
}


//Transition all  1s = 1000, 2s = 2000 ...
$c : 0;
@while $c <= 1 {
  .transition-#{round($c*10000)} {
    -webkit-transition: all $c#{s};
    -moz-transition: all $c#{s};
    -ms-transition: all $c#{s};
    -o-transition: all $c#{s};
    transition: all $c#{s};
  }
  $c : $c + 0.1;
}

/* ************* UTILITIES *************** */

.cursor-p {
	cursor: pointer;
}

//Truncado de caracteres - ellipsis
.ellipsis {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-nowidth {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white-space-nw{
  white-space: nowrap;
}

.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;   
  -ms-user-select: none;    
  user-select: none; 
}

.pointer-events-n {
  pointer-events: none;
}

.pointer-events-a {
  pointer-events: auto;
}

.pointer-events-i {
    pointer-events: initial;
}

.pointer-events-aie11 {
  pointer-events: none;
  position: relative;
}

.transform-translate-050 {
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.transform-translate-x-050 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.transform-translate-y-050 {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.transform-translate-x-0100
 {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
 }


.transform-translate-x--0100
 {
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
 }

 .transform-translate-y-0100
 {
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
 }

 .transform-translate-y--0100
 {
   backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
 }

.top--0100 {
  top:-100%;
}

.top--050 {
  top:-50%;
}

.bottom--0100 {
  bottom: -100%;
}

.bottom--50 {
  bottom: -50%;
}

.left--0100 {
  left: -100%;
}

.left--050 {
  left: -50%;
}

.right--0100 {
  left: -100%;
}
.right--050 {
  left: -50%;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-t-auto {
  margin-top: auto;
}

.margin-b-auto {
  margin-bottom: auto;
}

.margin-l-auto {
  margin-left: auto;
}

.margin-r-auto {
  margin-right: auto;
}

.height-auto {
	height: auto;
}
.width-auto {
  width: auto;
}
.height-0 {
	height: 0px;
}
.width-0 {
	width: 0px;
}

.hidden-text, .text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

table.stickyThead tbody, table.stickyThead thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
table.stickyThead thead {
  @extend .sticky;
}
.click {
	position: relative;
	&:active {
		top:1px;
	}
}

strong {
	font-weight: bold;
}