
//Bootstrap 4:
$size-xs : 0px !default;
$size-sm : 576px !default;
$size-md : 768px !default;
$size-lg : 992px !default;
$size-xl : 1200px !default;

@mixin breakpoint($size) {
    @if $size == xs {
      @media screen and ( min-width:$size-xs ) {@content;}
    }
    @else { @if $size == sm {
      @media screen and ( min-width:$size-sm ) {@content;}
    }
    @else { @if $size == md {
      @media screen and ( min-width:$size-md ) {@content;}
    }
    @else { @if $size == lg {
      @media screen and ( min-width:$size-lg ) {@content;}
    }
    @else { @if $size == xl {
      @media screen and ( min-width:$size-xl ) {@content;}
    }}}}}
}

@mixin breakpoint-max($size) {
    @if $size == xs {
      @media screen and ( max-width:$size-xs ) {@content;}
    }
    @else { @if $size == sm {
      @media screen and ( max-width:$size-sm ) {@content;}
    }
    @else { @if $size == md {
      @media screen and ( max-width:$size-md ) {@content;}
    }
    @else { @if $size == lg {
      @media screen and ( max-width:$size-lg) {@content;}
    }
    @else { @if $size == xl {
      @media screen and ( max-width:$size-xl) {@content;}
    }}}}}
}

$height-xxs : 320px !default;
$height-xs : 460px !default;
$height-sm : 520px !default;
$height-md : 620px !default;
$height-lg : 720px !default;

@mixin breakpoint-h($size) {
    @if $size == xxs {
      @media screen and ( min-height:$height-xxs ) {@content;}
    }
    @else { @if $size == xs {
      @media screen and ( min-height:$height-xs ) {@content;}
    }
    @else { @if $size == sm {
      @media screen and ( min-height:$height-sm ) {@content;}
    }
    @else { @if $size == md {
      @media screen and ( min-height:$height-md) {@content;}
    }
    @else { @if $size == lg {
      @media screen and ( min-height:$height-lg) {@content;}
    }}}}}
}
/* ************* END MEDIAQUERIES *************** */




/* ************* FONTS *************** */
$factor:1 !default;
$font-size: 18px !default;
$factor-lh:1.4 !default;

$typo-1: 'Roboto Mono', monospace !default;
$typo-2: 'Titillium Web', sans-serif !default;
/* ************* END FONTS *************** */


/* ************* COLORS *************** */
//font color
$c-font:#000 !default;
$c-primary:#00BFCB !default;
$c-secondary:#0078BC !default;
$c-success:#5cb85c!default;
$c-danger:#d9534f!default;
$c-warning:#f0ad4e!default;